<template>
    <div>
        <p v-if="num=== 0">{{ num }}</p>
        <p v-else-if="num > 0"> The number is positive</p>
        <p v-else-if="num < 0"> The number is positive</p>
        <p v-else>The number is a lie</p>

        <button @click="awesome = !awesome">Toggle</button>
        <h1 v-if="awesome">Vue is awesome? 🤔</h1>
        <h1 v-else>oh no! 🫢</h1>

        <!-- The Nested template element -->
        <template v-if="display">  
        <h2>Notice</h2>
        <p>Thank you</p>
        </template>
    </div>
</template>

<script>
    export default {
        name: "ConditionalView",
        data() {
            return {
                num: "a",
                awesome: "awesome",
            }
        },
    }
</script>